 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><b>我们是: 一群热爱学习的极客;</b>
                      <ul>
                        <li>学习将你和世界顶尖的大脑连接起来;</li>
                        <li>学习让你选择自己想要的人生.</li>
                        <li>我们在干吗: 把聪明人聚到一起, 向大众分享学习的乐趣, 分享学习方法, 分享学习带来的成就!
                      </ul></li>
                    </p>
                </div>
                <div class="col-lg-4">
                    <p><b>年轻是我们最大的资本</b></p> <br>
                     如果有什么是值得我们骄傲的, 那就是: 我们站在巨人的肩膀上!如果你也热爱学习, 想要结识更多有趣的人, 那么不要错过我们相识的机会.

                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="www.macundexiatian.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> 马村的夏天
                    </a>
                </div>
            </div>
        </div>
    </section>
