<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>联系我们</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<form action="http://formspree.io/blss@mqtcun.com" role="form" method="POST">
			<div class="form-group">
			<label for="name">姓名</label>
						<input type="text" name="name" class="form-control" required>
					</div>

			<div class="form-group">
						<label for="_replyto">邮箱</label>
						<input type="email" name="_replyto" class="form-control" required>
					</div>

			<div class="form-group">
						<label for="problem">有什么问题?</label>
						<textarea name="problem" class="form-control" rows="2"></textarea>
					</div>


			<div class="form-group">
						<label for="project">问题类型</label>
						<select name="project" class="form-control">
							<option value="">Choose...</option>
							<option>学习问题</option>
							<option>锻炼问题</option>
							<option>我想给你讲个段子</option>
				<option>我就是想和你聊聊...</option>
			<option>其他</option>
						</select>
					</div>

			<div class="form-group">
						<label for="message">以防你还有什么东西想写...</label>
						<textarea name="body" class="form-control" rows="4" width="100%" required></textarea>
					</div>

			<div>
						<input type="hidden" name="">
						<input type="submit" class="btn btn-success btn-lg" value="说完了">
						or <a href="mailto:blss@mqtcun.com">我还是给你们发邮件吧!</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
